<h1>All Customers</h1>

<ul id="nav">
  <li><%= link_to 'Add Customer', new_customer_path %></li>
  <li>-</li>
  <li><%= link_to 'Missing Email', controller: "finder", action: "missing_email" %></li>
</ul>

<div id="notice-frame">
  <p id="notice"><%= notice %></p>
</div>



<%= render 'customers' %>



